@model OpenLab.Kitchen.Service.Models.Production
@{
    ViewData["Title"] = Model.Name;
    var takes = Model.Takes.ToArray();
}

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h5>Cameras</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th><th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cam in Model.Cameras)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => cam.Name)</td>
                        <td><a asp-action="CamSet" asp-route-id="@Model.Id" asp-route-cam="@cam.Id"></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h5>Takes</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th><th></th><th></th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < takes.Length; i++)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => takes[i].Name)</td>
                        <td><a asp-action="Player" asp-route-id="@Model.Id" asp-route-take="@i">Open Player</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Configuration</h5>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RfidConfig)
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Transponder</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var rfid in Model.RfidConfig)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => rfid.Value)</td>
                                <td>@Html.DisplayFor(modelItem => rfid.Key)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Wax3Config)
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Wax Id</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var wax3 in Model.Wax3Config)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => wax3.Value)</td>
                                <td>@Html.DisplayFor(modelItem => wax3.Key)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SmappeeConfig)
                </dt>
                <dd>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Smappee Id</th>
                            <th>Transponder</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var smap in Model.SmappeeConfig)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => smap.Name)</td>
                                <td>@Html.DisplayFor(modelItem => smap.Id)</td>
                                <td>@Html.DisplayFor(modelItem => smap.AssociatedTransponder)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </dd>
            </dl>
        </div>
    </div>
</div>