@model OpenLab.Kitchen.Service.Models.Production
@{
    var cams = Model.Cameras.ToArray();
    var take = Model.Takes.ToArray()[ViewBag.Take];
    ViewData["Title"] = take.Name;
}

<p>
    <br/>
    <div class="btn-group">
        <button id="play" class="btn btn-success">Play</button>
        <button id="pause" class="btn btn-warning">Pause</button>
        <input id="seekhead" type="range" value="0"/>
    </div>
</p>

<input id="referencetime" type="hidden" value="@take.Media.First().StartTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'")" />

<div class="row">
    <h3>Cameras</h3>
    @foreach (var cam in cams)
    {
        <div class="col-md-4 col-sm-6">
            <h4>@Html.DisplayFor(modelItem => cam.Name)</h4>
            <video data-dashjs-player src="@(take.Media.Single(m => m.CameraId == cam.Id).Url + "/playback.mpd")"></video>
            <div id="camframes-@cam.Id" class="camframes"></div>
        </div>
    }
</div>

<div class="row">
    <h3>Wax3 Sensors</h3>
    @foreach (var wax3 in Model.Wax3Config)
    {
        <div class="col-md-3">
            <h4>@Html.DisplayFor(modelItem => wax3.Value)</h4>
            <textarea id="@("wax3-" + wax3.Key)" class="wax3"></textarea>
            <!--<canvas id="@("wax3-" + wax3.Key)" class="chart wax3"></canvas>-->
        </div>
    }
    <div class="col-md-3">
        <h4>Unknown</h4>
        <textarea id="wax3-unknown" class="wax3"></textarea>
    </div>
</div>

<div class="row">
    <h3>RFID Transponders</h3>
    @foreach (var rfid in Model.RfidConfig)
    {
        <div class="col-md-3">
            <h4>@Html.DisplayFor(modelItem => rfid.Value)</h4>
            <div id="@("rfid-" + rfid.Key)" class="rfid rfid-off"></div>
        </div>
    }
    <div class="col-md-3">
        <h4>Unknown</h4>
        <textarea id="rfid-unknown" class="rfid"></textarea>
    </div>
</div>

<div class="row">
    <h3>Appliance Usage</h3>
    @foreach (var app in Model.SmappeeConfig)
    {
        <div class="col-md-3">
            <h4>@Html.DisplayFor(modelItem => app.Name)</h4>
            <canvas id="@("app-" + app.Id)" class="chart app"></canvas>
        </div>
    }
    <div class="col-md-3">
        <h4>Unknown</h4>
        <textarea id="app-unknown" class="app"></textarea>
    </div>
</div>

<script src="//cdn.dashjs.org/v2.3.0/dash.all.min.js"></script>
<script src="//webtiming.github.io/timingsrc/lib/timingsrc.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>